$color-1: #546fe4;
$color-2: #212040;
$color-3: rgb(100, 100, 100);
$black: #060d2c;
$white: rgb(238, 238, 238);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $color-2;
    color: $white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    list-style: none;
}
.result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}